// Colors
$color-primary:#ef6c00;
$color-primary-dark:#b53d00;
$color-primary-light:#ff9d3f;

$color-secondary:#78909c;
$color-secondary-dark:#4b636e;
$color-secondary-light:#a7c0cd;



// Body
$body-bg: $color-primary;
$body-text: black;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border-color: $laravel-border-color;

$card-border-color: $laravel-border-color;

// Brands
$primary: $color-primary;
$info: $color-secondary;
$success: #2ab27b;
$warning: #cbb956;
$danger: #bf5329;


// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: .875rem; // 14px
$line-height-base: 1.6;
$text-color: #636b6f;

// Inputs
$input-border-color: lighten($text-color, 40%);
$input-placeholder-color: lighten($text-color, 30%);



// Colors
$transparent: #ffffff00;


$medium-screen:850px;
$small-screen:550px;
// view heights
//$footer-min

//:export {
//  colorPrimary:$color-primary;
//  colorPrimaryDark:$color-primary-dark;
//  colorPrimaryLight:$color-primary-light;
//
//  colorSecondary:$color-secondary;
//  colorSecondaryDark:$color-secondary-dark;
//  colorSecondaryLight:$color-secondary-light;
//
// }