
// Body
$body-bg: #a7c0cd;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border-color: $laravel-border-color;

$card-border-color: $laravel-border-color;

$color-primary:#78909c;
$color-primary-dark:#4b636e;
$color-primary-light:#a7c0cd;

$color-secondary:#9575cd;
$color-secondary-dark:#65499c;
$color-secondary-light:#c7a4ff;


// Brands
$primary: $color-primary;
$info: $color-secondary;
$success: #2ab27b;
$warning: #cbb956;
$danger: #bf5329;


// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: .875rem; // 14px
$line-height-base: 1.6;
$text-color: #636b6f;

// Inputs
$input-border-color: lighten($text-color, 40%);
$input-placeholder-color: lighten($text-color, 30%);



// Colors
$transparent: #ffffff00;


$medium-screen:850px;
$small-screen:550px;
// view heights
//$footer-min